<html>
  <head>
    <style>

      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
      }

      .links {
        padding: 40px;
        text-align: center;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color: #FF822D;
        display: block;
        padding-bottom: 5px;
      }

      h1 {
        color: #461C00;
      }
    </style>
  </head>

  <body>
    <div class='links'>
      <h1>PDF.js Express Annotation Samples</h1>
      {{LINKS}}
    </div>
  </body>
</html>